# Init

In [ ]:
# init
from importlib import reload
from pathlib import Path
import os
import sys
import pandas as pd

sys.path.append('..')
sys.path.append("C:/Users/gonta/D/software developer/packages")
import toolsGeneral.main as tgm
import toolsPandas.helpers as tph

def reloadPckg():
    reload(tgm)
    reload(tph)

# Import

In [1]:
# import
dataDir = Path(os.path.join(os.getcwd(), '..', 'data/normalized'))
rawFiles = [f for f in dataDir.rglob('*.pkl')]
print(len(rawFiles))

df_by_cntr = {
    file.parent.name:tgm.load(str(file))
    for file in rawFiles
}
print(len(df_by_cntr))

64
64

In [2]:
df_by_cntr['Greece']

,type,id,tags.admin_level,tags.parent_id,tags.name,tags.name:us,tags.ISO3166-1,tags.ISO3166-2,tags.is_in:country,tags.ref:nuts,tags.ref:nuts:2,tags.ref:nuts:3
0,relation,192307,2,NaN,Ελλάς,NaN,GR,NaN,NaN,EL,NaN,NaN
1,relation,223136,4,NaN,Muğla,NaN,NaN,TR-48,NaN,TR323,NaN,TR323
2,relation,4458374,4,NaN,Αποκεντρωμένη Διοίκηση Ηπείρου - Δυτικής Μακεδ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,relation,4477553,4,NaN,Αποκεντρωμένη Διοίκηση Αττικής,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,relation,4495677,4,NaN,Αποκεντρωμένη Διοίκηση Θεσσαλίας - Στερεάς Ελλ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
584,rel,13829626,8,1827294,Balıbey Mahallesi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,rel,13829627,8,1827294,Camikebir Mahallesi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
586,rel,13829628,8,1827294,Hacırüstem Mahallesi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,rel,13830796,8,1827377,Ulucami Mahallesi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,rel,13844300,8,1827377,Toparlar Mahallesi,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Apply fixes

## 1. osm basic fix

In [13]:
osm_basic_test = tgm.load(os.path.join('..', 'data', 'tests results', 'osm_basic_test.pkl'))
len(osm_basic_test)

64

In [14]:
tph.df_peek(tph.to_df(osm_basic_test).T)

In [15]:
to_delete = []
for k,v in osm_basic_test.items():
    to_delete.extend(v['missing.name'])
    to_delete.extend(v['leak'])
len(to_delete)

166

In [16]:
# delete missing names and leaked elements
df_by_cntr_fixed = {}
for k,df in df_by_cntr.items():
    df_by_cntr_fixed[k] = df[~df['id'].isin(to_delete)].copy()

In [7]:
list(map(len,[df_by_cntr['Bangladesh'],df_by_cntr_fixed['Bangladesh']]))

[453, 443]

## 2. osm duplicates fix

In [18]:
data_dir = Path(os.path.join(os.getcwd(), '..', 'data/tests results/osm duplicates test'))

osm_dup_test = {
    file.parent.name:tgm.load(str(file))
    for file in data_dir.rglob('*/*.pkl')
}

In [19]:
to_delete_dup = []
for k,v in osm_dup_test.items():
    to_delete_dup.extend(v['duplicate.delete_elems'])
len(to_delete_dup)

158

## * apply

In [22]:
# delete duplicate elements
for k,df in df_by_cntr_fixed.items():
    df_by_cntr_fixed[k] = df[~df[['id','tags.parent_id']].apply(tuple, axis=1).isin(to_delete_dup)].copy()

# 3. Save!

In [25]:
for k,df in df_by_cntr_fixed.items():
    path = os.path.join(os.getcwd(),f'../data/fixed/{k}/{k}_fixed.pkl')
    tgm.dump(path, df)